body{
    height: 100%;
    background:linear-gradient(to bottom,rgb(67, 199, 243),rgb(231, 109, 166)) ;
    overflow: scroll;
    background-size:contain;
    background-attachment: fixed;
}
body header{
    display: grid;
    max-width: 1400px;
    max-height: 200px;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: crimson;
    font-weight: 600;
    gap: 2rem;
}
body header .name{
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
    gap: 10px;
}
body header .name h2:first-child{
  font-size: 20px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: cyan;
}
body header .name h2:last-child{
    margin-top: 25px;
}
body header .links ul{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    list-style: none;
    max-width: 600px;
    width: 100%;
 }
 body header .links ul li{
    margin-top: 1rem;
 }
body header .links ul li a{
    font-size: 18px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: crimson;
    position: relative;
}
body header .links ul li a::before,body header .links ul li a::after{
    content: "";
    position: absolute;
    height: 2px;
    transition: all 0.3s linear;
    width: 100%;
    background: deeppink;
    border-radius: 5px;
    transform: scaleX(0);
}
body header.links ul li a::before{
    top: 5px;
    right: 0;
    transform-origin: left;
}
body header .links ul li a::after{
    left: 0;
    bottom: -5px;
    transform-origin: right;
}
body header .links ul li a:hover::after,body header .links ul li a:hover::before{
    transform: scaleX(1);
}
main{
    display: grid;
    max-width: 1300px;
    width: 100%;
    gap: 3rem;
    grid-template-columns:1fr 3fr;
}
main .personal-information{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin: 1rem 0 0 2rem;
    position: relative;
    gap: 2rem;
    height: max-content;
    width: max-content;
    border: 1px solid white;
    box-shadow: 0px 0px 30px 2px whitesmoke;
    padding: 5rem 2rem;
    border-radius: 10px;
    background: white;
}
main .personal-information img{
    margin-left: 70px;
    border-radius: 10px;
}
main .personal-information table tr td:first-child{
    color: orchid;
    font-size: 16px;
    text-transform: uppercase;
}
main .personal-information table tr td:last-child{
    font-size: 18px;
    color: rgb(7, 107, 107);
}
table tr td{
    padding: 2px 5px;
}
main .personal-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: fit-content;
    width: fit-content;
    border: 1px solid white;
    box-shadow: 0px 0px 30px 2px whitesmoke;
    border-radius: 10px;
    background: white; 
    padding: 0.5rem 0.5rem 0.5rem 1.7rem;
    margin: 20px 0px 0px 0px;
}
.personal-details h2{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: darkorange;
}
.personal-details .objective h3{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(117, 156, 7);
    text-align: justify;
}
.objective h3::first-letter{
    padding-left: 20px;
}
.Skills table caption{
   padding: 5px 0px;
   color: crimson;
   font-size: 18px;
}
.Skills table tr th{
    color: darkmagenta;
    font-size: 16px;
    padding: 5px;
}
.Skills table tr td{
    padding: 5px 10px;
    color: rgb(248, 13, 248);
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    place-items: center;
    max-width: 600px;
    width: 100%;
}
#sk{
    color: coral;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}
main ul li{
    padding: 5px 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: deepskyblue;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul li a img{
    width: 50px;
    height: 50px;
    mix-blend-mode: color-burn;
    transition: all 0.3s linear;
    border-radius: 50%;
}
footer ul li a img:hover{
    border-radius: 10px;
    mix-blend-mode: normal;
}
footer ul li{
    display: inline-block;
    margin: 10px 20px;
}
@media (max-width:1070px){
    main{
        grid-template-columns: repeat(auto-fit,minmax(550px,1fr));
        place-items: center;
    }
    main .personal-details{
        padding-left: 6rem;
    }
}